@import "../dist/_SassyFibonacciness.scss";

$colors: (Red Green Blue Magenta Olive);
$h1-size: 130%;
$h6-size: 100%;

@for $x from 0 through 4 {
  // Reset skiponacci and fontonacci **fibonacciness**.
  $skiponacci: skiponacci(6, $x);
  $fontonacci: fontonacci($skiponacci, $h6-size, $h1-size);

  // Print out the values.
  // @debug $skiponacci;
  // @debug $fontonacci;

  // Apply the **fibonacciness** + a color for demo purposes - for fonts h2 to h5.
  @for $i from 2 through 5 {
    #{h + $i}.#{fibonacciness + $x} {
      color: nth($colors, $x + 1);
      font-size: nth($fontonacci, $i);
    }
  }

  // Create a color for demo purposes.
  .#{"color" + $x} {
    color: nth($colors, $x + 1);
    font-weight: bold;
  }
}

// Demo classes. h1 and h6 are fixed.
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
  line-height: 50px;
  margin: 3px;
}

.h1 {
  font-size: $h1-size;
  width: 100%;
}

.h6 {
  font-size: $h6-size;
  clear: both;
  width: 100%;
}

.floater {
  float: left;
}
