///
/// Rescale Fibonacci-like number seqs into font-size % for heading tags.
///
/// @param {LIST} $skippy - A numberical Fibonacci list.
/// @param {%} $target_min - The smallest font size you need, usually for h4 or less.
/// @param {%} $target_max - The largest font size you need, usually for h1.
///
/// @requires
///
/// @example
/// fontonacci(2 3 5, 100, 500)
/// // 500% 280% 100%
///
/// @return {List}
///
@use "sass:math";

@function fontonacci(
  $skippy: 1 2 3 5 8 13,
  $target_min: 100%,
  $target_max: 500%
) {
  $result: ();
  // Get the target scale
  $target_scale: $target_max - $target_min;
  // Get the scale of the current skiponacci seq.
  $skipo_min: nth($skippy, 1);
  $skipo_max: nth($skippy, length($skippy));
  $skipo_scale: $skipo_max - $skipo_min;
  // Reverse the order of skiponacci seq.
  @for $x from length($skippy) to 0 {
    // Get the relative percentage weight of the original skiponacci number.
    $skipo_weight: math.div((nth($skippy, $x) - $skipo_min), $skipo_scale);
    // Scale up the skiponacci number relative to the new scale.
    $adjusted: $target_scale * $skipo_weight + $target_min;
    // Round and append.
    $rounded: math.div(round($adjusted * 10), 10);
    $result: append($result, $rounded);
  }
  @return $result;
}
